<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 px-8 py-12">
    <div>
      <div class="grid grid-cols-12 gap-x-24">
        <div class="col-span-6">
          <div class="sm:flex">
            <div
              class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10">
              <div class="font-semibold text-accent-600">
                <span class="block lg:inline"> Top 10 в Google Play </span>
              </div>
            </div>
          </div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display mt-8">
            <span class="text-blue-600">E-Contracts</span> - Ваш личный менеджер
            контрактов
          </p>
          <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 text-base">
            Создавайте и согласуйте контракты между частными лицами. Официальная
            защита ваших интересов.
          </p>
          <div class="flex mt-8 gap-4">
            <a href="#!" class="block">
              <img src="/google-play-badge.png" class="block h-10" alt="" />
            </a>
            <a href="#!" class="block">
              <img src="/app-store-badge.svg" class="block" alt="" />
            </a>
          </div>
        </div>
        <div class="col-span-6">
          <img src="/Hero.png" alt="" class="d-block" />
        </div>
      </div>
    </div>
  </div>
</section>
