<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div
        class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border">
        <div
          class="bg-gray-50 p-8 rounded-2xl overflow-hidden items-center flex h-full">
          <img alt="Lexingtøn thumbnail" class="" src="/contract.png" />
        </div>
      </div>
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
            Детали контракта
          </p>
          <p class="text-base mt-4 text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis optio, modi doloribus, laboriosam ad eligendi tenetur
            iste quidem pariatur, temporibus eius impedit fugit est molestias
            eum in beatae vel! Laborum?.
          </p>
        </div>
        <div
          class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-2">
          <div>
            <div class="gap-3 lg:inline-flex lg:items-center">
              <div
                class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
                <ion-icon
                  aria-label="scan outline"
                  class="hydrated md h-5 w-5"
                  name="scan-outline"
                  role="img"></ion-icon>
              </div><p
                class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
                Предосмотр
              </p>
            </div><p class="text-gray-500 text-sm mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
              quisquam. Laudantium sint perferendis commodi ducimus!
            </p>
          </div><div>
            <div class="gap-3 lg:inline-flex lg:items-center">
              <div
                class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
                <ion-icon
                  aria-label="scan outline"
                  class="hydrated md h-5 w-5"
                  name="scan-outline"
                  role="img"></ion-icon>
              </div><p
                class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
                Отправка
              </p>
            </div><p class="text-gray-500 text-sm mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
              quisquam. Laudantium sint perferendis commodi ducimus!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
