<section class="bg-zinc-100 2xl:max-w-7xl mx-auto">
  <div class="relative">
    <div class="lg:absolute lg:inset-0 lg:left-1/2">
      <img
        class="object-cover w-full h-64 sm:h-80 lg:absolute lg:h-full"
        src="/pages.png"
        alt=""
      />
    </div>
    <div
      class="pt-16 pb-24 sm:pb-32 sm:pt-16 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pt-16">
      <div class="px-8 lg:px-12">
        <div class="max-w-lg mx-auto lg:mx-0 lg:pr-12">
          <p
            class="mt-12 text-3xl font-black tracking-tight text-black uppercase font-display">
            E-Contracts
          </p>
          <p
            class="max-w-2xl mt-4 text-base font-medium tracking-tight text-black">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis optio, modi doloribus, laboriosam ad eligendi tenetur
            iste quidem pariatur, temporibus eius impedit fugit est molestias
            eum in beatae vel! Laborum?.
          </p>
        </div>
        <p
          class="max-w-2xl mt-8 text-base font-medium tracking-tight text-black">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          asperiores molestias vel nihil optio repellendus quidem veniam, odio
          neque iste quae ducimus omnis error labore sint enim vitae minus
          nulla?
        </p>
      </div>
    </div>
  </div>
</section>
