<footer>
  <div
    class="mx-auto w-full lg:px-12 max-w-7xl md:px-12 items-center px-8 py-12">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <div class="flex flex-col xl:col-span-2">
        <a href="/" class="text-black inline-flex items-center gap-3">
          <svg
            height="24"
            viewBox="0 0 3412 512"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1840_19902)">
              <path
                d="M20.1175 498.14C15.2018 498.143 10.4061 496.623 6.38913 493.789C4.28432 492.338 2.59205 490.365 1.47767 488.064C0.363302 485.763 -0.135047 483.212 0.0313276 480.661V26.0877C-0.103596 23.5644 0.409873 21.0487 1.52281 18.7801C2.63574 16.5116 4.31106 14.5658 6.38913 13.1282C10.4078 10.3005 15.2037 8.78702 20.1175 8.79594H258.469C264.265 8.79594 268.503 10.8964 271.204 15.135C273.837 19.2285 275.231 23.996 275.217 28.8633C275.255 33.9529 273.737 38.9325 270.866 43.1356C269.532 45.184 267.687 46.8495 265.513 47.9677C263.339 49.0858 260.912 49.6181 258.469 49.5121H44.2171V233.682H149.337C151.738 233.562 154.131 234.049 156.294 235.098C158.457 236.147 160.322 237.724 161.715 239.684C164.646 243.78 166.178 248.713 166.084 253.75C166.06 258.305 164.654 262.745 162.052 266.484C159.364 270.497 155.125 272.504 149.337 272.504H44.3109V457.293H258.469C260.876 457.179 263.273 457.673 265.44 458.728C267.606 459.783 269.472 461.366 270.866 463.332C273.856 467.647 275.381 472.808 275.217 478.054C275.236 482.916 273.842 487.679 271.204 491.764C268.503 496.027 264.258 498.153 258.469 498.14H20.1175Z"
                fill="#172554"></path>
              <path
                d="M310.701 344.615C308.394 344.668 306.105 344.188 304.014 343.212C301.922 342.236 300.084 340.791 298.642 338.989C295.492 335.118 293.829 330.249 293.953 325.261C293.763 320.062 295.424 314.964 298.642 310.876C300.084 309.074 301.922 307.629 304.014 306.653C306.105 305.677 308.394 305.197 310.701 305.25H484.781C487.026 305.266 489.24 305.778 491.263 306.751C493.286 307.724 495.069 309.133 496.484 310.876C499.907 314.869 501.702 320.005 501.51 325.261C501.63 330.308 499.834 335.213 496.484 338.989C495.068 340.731 493.285 342.139 491.262 343.112C489.239 344.085 487.026 344.598 484.781 344.615H310.701Z"
                fill="#172554"></path>
              <path
                d="M716.456 502.154C692.518 502.369 668.799 497.577 646.821 488.088C625.421 478.764 607.574 462.824 595.902 442.608C583.399 421.666 577.147 393.771 577.147 358.925V151.912C577.147 117.104 583.624 89.2032 596.577 68.2106C609.53 47.218 626.61 32.0643 647.815 22.7495C669.89 13.2154 693.725 8.4356 717.769 8.72106C747.239 8.72106 772.245 13.8473 792.788 24.0998C813.33 34.3523 829.065 47.9681 839.993 64.9473C850.868 81.684 856.576 101.252 856.403 121.211C856.403 131.914 854.528 138.94 850.777 142.291C847.026 145.642 841.556 147.311 834.367 147.299C826.321 147.299 820.638 145.629 817.281 142.291C814.068 139.18 812.072 135.023 811.655 130.57C811.454 122.315 810.193 114.121 807.904 106.189C805.171 96.4984 800.62 87.4162 794.494 79.4258C788.043 70.6737 778.665 63.5219 766.362 57.9706C754.059 52.4192 738.106 49.6373 718.501 49.6248C687.243 49.6248 663.356 57.9956 646.839 74.7372C630.323 91.4788 622.052 117.204 622.027 151.912V358.869C622.027 394.128 630.398 420.015 647.14 436.532C663.881 453.048 688.318 461.325 720.451 461.363C740.531 461.363 756.372 458.575 767.975 452.998C779.578 447.422 788.287 440.508 794.1 432.256C799.821 424.149 804.016 415.067 806.478 405.455C808.754 396.766 810.434 387.93 811.505 379.011C811.966 374.01 814.225 369.346 817.863 365.883C821.22 362.976 826.452 361.532 833.598 361.532C841.099 361.532 846.876 363.408 850.683 367.159C854.49 370.909 856.309 378.205 856.309 388.933C856.369 408.807 850.541 428.255 839.562 444.821C828.396 462.013 812.442 475.854 791.7 486.344C770.957 496.834 745.876 502.104 716.456 502.154Z"
                fill="#172554"></path>
              <path
                d="M1405.5 498.141C1400.05 498.243 1394.69 496.729 1390.1 493.79C1387.92 492.395 1386.15 490.443 1384.97 488.136C1383.79 485.828 1383.25 483.247 1383.41 480.661V25.4502C1383.41 19.1862 1385.64 14.8539 1390.1 12.322C1394.84 9.81749 1400.14 8.55903 1405.5 8.66486C1410.55 8.59434 1415.48 10.1603 1419.57 13.1284C1423.9 16.3043 1427.76 20.0949 1431.01 24.3812C1434.7 29.2644 1437.85 34.5415 1440.38 40.1163L1621.1 395.722V25.4502C1620.93 22.9166 1621.47 20.3861 1622.65 18.1387C1623.84 15.8913 1625.62 14.0145 1627.8 12.7158C1632.46 9.9905 1637.79 8.60801 1643.19 8.72112C1648.46 8.70538 1653.64 10.0836 1658.2 12.7158C1660.46 13.9545 1662.32 15.809 1663.56 18.0634C1664.81 20.3178 1665.39 22.8794 1665.23 25.4502V480.736C1665.37 483.358 1664.79 485.968 1663.55 488.283C1662.31 490.598 1660.46 492.528 1658.2 493.865C1653.71 496.702 1648.51 498.211 1643.19 498.216C1639.98 498.164 1636.8 497.455 1633.87 496.133C1630.93 494.811 1628.3 492.903 1626.13 490.526C1620.98 485.383 1616.79 479.37 1613.73 472.766L1427.61 110.483V480.736C1427.75 483.36 1427.16 485.972 1425.92 488.286C1424.68 490.601 1422.82 492.53 1420.56 493.865C1416.04 496.686 1410.82 498.169 1405.5 498.141Z"
                fill="#172554"></path>
              <path
                d="M1876.2 498.141C1870.75 498.249 1865.39 496.734 1860.8 493.79C1858.62 492.395 1856.85 490.443 1855.67 488.136C1854.5 485.828 1853.96 483.247 1854.11 480.661V50.2062H1741.58C1739.1 50.2825 1736.64 49.7435 1734.43 48.6373C1732.21 47.531 1730.3 45.8922 1728.87 43.8672C1725.77 39.7099 1724.12 34.649 1724.18 29.4637C1724.11 24.2543 1725.78 19.1704 1728.9 15.0039C1730.33 12.9789 1732.24 11.34 1734.46 10.2338C1736.68 9.12757 1739.14 8.58852 1741.62 8.66482H2010.11C2015.91 8.66482 2020.14 10.7653 2022.83 15.0039C2025.46 19.0958 2026.86 23.8631 2026.86 28.7322C2026.9 33.9183 2025.51 39.0149 2022.83 43.4546C2021.53 45.6349 2019.66 47.4144 2017.41 48.5961C2015.17 49.7777 2012.64 50.3155 2010.11 50.1499H1898.29V480.736C1898.43 483.358 1897.85 485.968 1896.61 488.283C1895.37 490.597 1893.52 492.528 1891.26 493.865C1886.75 496.693 1881.53 498.176 1876.2 498.141Z"
                fill="#172554"></path>
              <path
                d="M2342.2 499.472C2337.28 499.472 2332.81 496.903 2328.79 491.764C2324.93 486.874 2321.56 481.609 2318.75 476.048L2215.6 275.167H2130.55V480.736C2130.69 483.358 2130.11 485.968 2128.87 488.283C2127.63 490.597 2125.78 492.528 2123.52 493.864C2119.03 496.702 2113.83 498.211 2108.52 498.216C2103.06 498.321 2097.69 496.807 2093.1 493.864C2090.92 492.47 2089.14 490.518 2087.97 488.21C2086.79 485.903 2086.25 483.322 2086.4 480.736V25.4501C2086.37 23.3273 2086.78 21.2211 2087.6 19.2626C2088.42 17.3042 2089.63 15.5353 2091.17 14.0661C2094.4 10.8871 2098.68 8.98817 2103.21 8.72104H2221.72C2246.34 8.42578 2270.82 12.4959 2294.02 20.7427C2315.41 28.4473 2333.8 42.7517 2346.53 61.5902C2359.7 80.7949 2366.28 107.151 2366.3 140.659C2366.3 168.341 2361.72 191.103 2352.57 208.945C2344.21 225.965 2331.21 240.271 2315.06 250.205C2298.67 259.959 2280.63 266.609 2261.83 269.822L2364.98 468.002C2366.23 469.161 2367.05 470.697 2367.33 472.372C2367.56 473.804 2367.68 475.253 2367.68 476.704C2367.57 480.58 2366.26 484.326 2363.93 487.432C2361.42 491.049 2358.09 494.029 2354.22 496.134C2350.56 498.256 2346.42 499.406 2342.2 499.472ZM2130.55 237.021H2221.61C2251.51 237.021 2275.72 229.762 2294.24 215.246C2312.76 200.73 2322.02 176.743 2322.04 143.285C2322.04 109.352 2312.77 85.246 2294.24 70.9675C2275.71 56.689 2251.5 49.5498 2221.61 49.5498H2130.55V237.021Z"
                fill="#172554"></path>
              <path
                d="M2427.89 498.141C2423.98 498.077 2420.12 497.282 2416.5 495.796C2412.69 494.365 2409.25 492.074 2406.47 489.101C2403.92 486.51 2402.48 483.024 2402.46 479.386C2402.43 477.797 2402.66 476.214 2403.13 474.697L2543.06 20.8366C2543.77 18.1816 2545.03 15.7065 2546.76 13.5734C2548.49 11.4402 2550.66 9.69721 2553.11 8.45855C2558.1 5.96764 2563.61 4.68288 2569.18 4.70764C2575.13 4.61353 2581 5.99236 2586.29 8.72112C2588.7 9.87793 2590.82 11.557 2592.5 13.6364C2594.18 15.7158 2595.38 18.1434 2596 20.7428L2735.27 474.697C2735.71 475.99 2735.94 477.345 2735.95 478.711C2735.92 482.347 2734.48 485.829 2731.94 488.426C2729.11 491.437 2725.68 493.832 2721.88 495.459C2717.88 497.248 2713.55 498.162 2709.17 498.141C2705.64 498.161 2702.17 497.235 2699.12 495.459C2695.86 493.508 2693.47 490.399 2692.42 486.757L2661.62 383.606H2476.84L2446.02 486.757C2444.97 490.399 2442.58 493.508 2439.33 495.459C2435.82 497.35 2431.87 498.275 2427.89 498.141ZM2487.49 345.478H2650.18L2569.18 75.6562L2487.49 345.478Z"
                fill="#172554"></path>
              <path
                d="M2934.05 502.154C2910.12 502.371 2886.4 497.579 2864.42 488.088C2843.02 478.764 2825.18 462.823 2813.52 442.608C2801.02 421.665 2794.76 393.771 2794.76 358.925V151.912C2794.76 117.104 2801.23 89.203 2814.17 68.2104C2827.12 47.2178 2844.19 32.0391 2865.41 22.6743C2887.49 13.1402 2911.32 8.3604 2935.37 8.64586C2964.82 8.64586 2989.83 13.7721 3010.39 24.0246C3030.94 34.2771 3046.68 47.8929 3057.61 64.8721C3068.47 81.6146 3074.17 101.18 3074 121.136C3074 131.838 3072.13 138.865 3068.37 142.216C3064.62 145.554 3059.11 147.223 3051.96 147.223C3043.94 147.223 3038.24 145.554 3034.9 142.216C3031.69 139.1 3029.7 134.945 3029.27 130.494C3029.07 122.24 3027.81 114.046 3025.52 106.113C3022.75 96.4188 3018.17 87.3373 3012.02 79.3506C3005.54 70.5985 2996.16 63.4467 2983.88 57.8954C2971.61 52.344 2955.65 49.5621 2936.02 49.5496C2904.77 49.5496 2880.88 57.9204 2864.38 74.662C2847.88 91.4036 2839.63 117.154 2839.64 151.912V358.869C2839.64 394.127 2848.01 420.015 2864.76 436.532C2881.5 453.048 2905.93 461.325 2938.07 461.363C2958.16 461.363 2974.01 458.574 2985.61 452.998C2997.21 447.422 3005.92 440.508 3011.72 432.256C3017.44 424.149 3021.63 415.067 3024.09 405.455C3026.38 396.767 3028.06 387.932 3029.12 379.011C3029.58 374.004 3031.84 369.336 3035.5 365.883C3038.84 362.982 3044.07 361.532 3051.21 361.532C3058.72 361.532 3064.49 363.407 3068.3 367.158C3072.11 370.909 3073.93 378.205 3073.93 388.932C3073.99 408.807 3068.16 428.254 3057.18 444.821C3046.02 462.013 3030.07 475.854 3009.32 486.344C2988.56 496.834 2963.47 502.104 2934.05 502.154Z"
                fill="#172554"></path>
              <path
                d="M3260.8 498.14C3255.35 498.245 3249.99 496.731 3245.4 493.789C3243.21 492.395 3241.44 490.443 3240.27 488.135C3239.09 485.827 3238.55 483.247 3238.7 480.661V50.2061H3126.18C3123.7 50.2893 3121.24 49.7532 3119.02 48.6463C3116.81 47.5394 3114.9 45.8966 3113.48 43.867C3110.37 39.7154 3108.71 34.6521 3108.77 29.4635C3108.71 24.2509 3110.38 19.1646 3113.52 15.0037C3114.94 12.9741 3116.84 11.3313 3119.06 10.2244C3121.28 9.11749 3123.74 8.58138 3126.21 8.66466H3394.7C3400.5 8.66466 3404.74 10.7652 3407.44 15.0037C3410.06 19.1008 3411.46 23.8659 3411.45 28.7321C3411.5 33.9156 3410.11 39.0105 3407.44 43.4544C3406.14 45.6334 3404.26 47.4112 3402.01 48.5924C3399.77 49.7736 3397.24 50.3125 3394.7 50.1498H3282.89V480.736C3283.03 483.358 3282.45 485.968 3281.21 488.283C3279.97 490.597 3278.12 492.528 3275.86 493.864C3271.34 496.693 3266.12 498.176 3260.8 498.14Z"
                fill="#172554"></path>
              <g clip-path="url(#clip1_1840_19902)">
                <path
                  d="M1243.36 84.08L1148.83 19.888C1129.83 6.93326 1107.3 -0.00382425 1084.22 1.58162e-06C1044.37 0.0677979 1006.18 15.7391 978.027 43.5753C949.871 71.4115 934.048 109.139 934.031 148.48V362.736C934.078 402.309 950.021 440.248 978.361 468.23C1006.7 496.212 1045.13 511.953 1085.21 512H1141.65C1225.02 512 1293.03 445.04 1293.03 362.736V177.04C1293.03 158.725 1288.51 140.686 1279.86 124.487C1271.2 108.288 1258.68 94.4178 1243.36 84.08ZM1133.48 57.312L1216.45 113.6L1152.62 123.056C1150.22 123.336 1147.79 123.112 1145.49 122.399C1143.18 121.687 1141.06 120.501 1139.25 118.921C1137.44 117.341 1136 115.401 1135 113.23C1134.01 111.058 1133.49 108.703 1133.48 106.32V57.312ZM1253.14 362.736C1253.08 391.895 1241.31 419.841 1220.41 440.44C1199.5 461.039 1171.18 472.608 1141.65 472.608H1085.21C1055.7 472.6 1027.4 461.021 1006.53 440.418C985.663 419.815 973.936 391.873 973.927 362.736V148.48C973.944 119.586 985.563 91.8784 1006.24 71.4296C1026.91 50.9808 1054.95 39.4598 1084.22 39.392C1087.35 39.386 1090.48 39.5784 1093.58 39.968V106.336C1093.58 114.299 1095.28 122.173 1098.58 129.437C1101.88 136.702 1106.71 143.193 1112.74 148.48C1123.24 157.509 1136.7 162.477 1150.62 162.464C1153.09 162.53 1155.57 162.396 1158.01 162.064L1247.14 148.88C1251.12 157.746 1253.16 167.342 1253.12 177.04L1253.14 362.736Z"
                  fill="#2563EB"></path>
                <path
                  d="M1157.35 295.44H1069.6C1066.93 295.515 1064.28 295.062 1061.79 294.106C1059.31 293.15 1057.04 291.712 1055.13 289.876C1053.22 288.041 1051.7 285.845 1050.66 283.419C1049.62 280.993 1049.08 278.386 1049.08 275.752C1049.08 273.118 1049.62 270.511 1050.66 268.085C1051.7 265.659 1053.22 263.464 1055.13 261.628C1057.04 259.792 1059.31 258.354 1061.79 257.398C1064.28 256.443 1066.93 255.989 1069.6 256.064H1157.35C1160.02 255.989 1162.67 256.443 1165.16 257.398C1167.64 258.354 1169.91 259.792 1171.82 261.628C1173.73 263.464 1175.25 265.659 1176.29 268.085C1177.33 270.511 1177.87 273.118 1177.87 275.752C1177.87 278.386 1177.33 280.993 1176.29 283.419C1175.25 285.845 1173.73 288.041 1171.82 289.876C1169.91 291.712 1167.64 293.15 1165.16 294.106C1162.67 295.062 1160.02 295.515 1157.35 295.44Z"
                  fill="#2563EB"></path>
                <path
                  d="M1157.35 393.904H1069.6C1066.93 393.979 1064.28 393.525 1061.79 392.57C1059.31 391.614 1057.04 390.176 1055.13 388.34C1053.22 386.505 1051.7 384.309 1050.66 381.883C1049.62 379.457 1049.08 376.85 1049.08 374.216C1049.08 371.582 1049.62 368.975 1050.66 366.549C1051.7 364.123 1053.22 361.927 1055.13 360.092C1057.04 358.256 1059.31 356.818 1061.79 355.862C1064.28 354.907 1066.93 354.453 1069.6 354.528H1157.35C1160.02 354.453 1162.67 354.907 1165.16 355.862C1167.64 356.818 1169.91 358.256 1171.82 360.092C1173.73 361.927 1175.25 364.123 1176.29 366.549C1177.33 368.975 1177.87 371.582 1177.87 374.216C1177.87 376.85 1177.33 379.457 1176.29 381.883C1175.25 384.309 1173.73 386.505 1171.82 388.34C1169.91 390.176 1167.64 391.614 1165.16 392.57C1162.67 393.525 1160.02 393.979 1157.35 393.904Z"
                  fill="#2563EB"></path>
              </g>
            </g>
            <defs>
              <clipPath id="clip0_1840_19902">
                <rect width="3411.45" height="512" fill="white"></rect>
              </clipPath>
              <clipPath id="clip1_1840_19902">
                <rect
                  width="359"
                  height="512"
                  fill="white"
                  transform="translate(934.031)"></rect>
              </clipPath>
            </defs>
          </svg>
        </a>
        <p class="text-sm text-neutral-600 lg:col-span-2 mt-4">
          © 2024 E-Contracts. Все права защищены.
        </p>
      </div>
      <div class="text-sm text-gray-400 col-span-2">
        <div class="flex justify-end gap-4">
          <a href="#!" class="block">
            <img src="/google-play-badge.png" class="block h-10" alt="" />
          </a>
          <a href="#!" class="block">
            <img src="/app-store-badge.svg" class="block" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
